        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
        <link href="/assets/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/assets/css/theme-gunmetal.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/assets/css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/assets/css/fonts.css" rel="stylesheet" type="text/css">
        <meta charset="utf-8">
        <title>{{ page.title }}</title>