<!DOCTYPE html>
<html>
    <head>
      {% include "head.liquid" %}
    </head>
    <body class="boxed-layout">
        {% include "header_cn.liquid" %}
      <div class="main-container">
        {% for post in collections.posts.pages %}
          {% if post.categories contains "Chinese" %}
                <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="post-snippet mb64">
                                
                                <div class="post-title">
                                    <span class="label">{{ post.published_date | date: "%Y-%m-%d" }}</span>
                                    <h4 class="inline-block">{{ post.title }}<br></h4>
                                </div>
                                <ul class="post-meta">
                                    <li>
                                        <i class="ti-user"></i>
                                        <span><a href="#">郗士</a>著作
                                        </span>
                                    </li>
                                </ul>
                                <hr>
                                <p class="lead">
                                    {{ post.excerpt }}
                                </p>
                            </div>
                            <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                            <a class="mb48 mb-xs-32 btn btn-lg" href="{{ post.permalink}} ">继续</a>
                        </div>
                    </div>
                            <hr>
                        </div>
                        
                    </div>
                    
                </div>
                
            </section>
        {% endif %}
      {% endfor %}

    <footer class="footer-2 bg-dark text-center-xs">
      {% include "footer_cn.liquid" %}
    </footer>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/parallax.js"></script>
    <script src="/assets/js/scripts.js"></script>
  </body>
</html>
